html, body {
    height: 100%;
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
}

footer {
    font-size: 12px;
    text-align: center;
    color: #A8A8A8;
    padding-bottom: 10px;
}

.actions, .events, .inventory {
    /*border: 3px solid white;*/
    padding: 5px 20px 0px 20px;
    text-align: left;
}

.actions {
    width: 25%;
}

.events {
    width: 45%;
}

.inventory {
    width: 30%;
}

#main-grid {
    width: 100%;
}