html, body {
    height: 100%;
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
    background-color: #F0F0F0;
}

footer {
    font-size: 12px;
    text-align: center;
    color: #404040;
    padding-bottom: 10px;
}

#site-header {
    text-align: center;
    font-size: 60px;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
}

#center-align {
    text-align: center;
}