{% extends 'base.html' %}
{% from 'macros.html' import inventory_item %}

{% block title %}Home{% endblock %}

{% block content %}
<table id="main-table">
    <tr>
        <th class="actions">
            <h2>Actions</h2>
        </th>
        <th class="events">
            <h2>Events</h2>
        </th>
        <th class="inventory">
            <h2>Inventory</h2>
        </th>
    </tr>
    <tr>
        <td class="actions"></td>
        <td class="events"></td>
        <td class="inventory">
            {{ inventory_item(user, 'wood') }}
            {{ inventory_item(user, 'stone') }}
            {{ inventory_item(user, 'flint') }}
            {{ inventory_item(user, 'hatchets') }}
            {{ inventory_item(user, 'weeds') }}
            {{ inventory_item(user, 'furs') }}
            {{ inventory_item(user, 'knives') }}
        </td>
    </tr>
</table>
{% endblock %}