{% macro nav_link(endpoint, text) %}
{% if request.endpoint -%}
{% if request.endpoint.endswith(endpoint) -%}
<a class="active item" href="{{ url_for(endpoint) }}">{{text|safe}}</a>
{% else -%}
<a class="item" href="{{ url_for(endpoint) }}">{{text|safe}}</a>
{% endif -%}
{% endif -%}
{% endmacro %}

{% macro inventory_item(user, name) %}
{% if user[name] > 0 %}
<span>{{ user[name] }}&emsp;{{ name|title }}</span><br>
{% endif %}
{% endmacro %}

{% macro action(user, name) %}
{% if user[name]==True %}
<button class="ui button" id="#{{ name }}">{{ name|replace('_', ' ') }}</button>
{% endif %}
{% endmacro %}